{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": ["unused-imports"],
  "reportUnusedDisableDirectives": true,
  "rules": {
    "quotes": [
      "warn",
      "single"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "jest/no-mocks-import": "off",
    "no-var": "warn",
    "prefer-const": "warn",
    "no-param-reassign": "warn",
    "prefer-spread": "warn",
    "complexity": [
      "warn",
      7
    ],
    "camelcase": "warn",
    "sort-imports": ["warn", {
      "ignoreDeclarationSort": true,
      "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
    }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["warn"],
    "eqeqeq": "warn",
    "no-bitwise": "warn",
    "no-constant-condition": "warn",
    "no-multiple-empty-lines": "warn",
    "indent": ["warn", 2, {"SwitchCase": 1}],
    "react/self-closing-comp": ["warn", {
      "component": true,
      "html": true
    }],
    "react/jsx-key": "warn",
    "react/jsx-tag-spacing": ["warn", {"beforeSelfClosing": "never"}],
    "react/jsx-max-props-per-line": ["warn", {"when": "multiline"}],
    "react/jsx-first-prop-new-line": ["warn", "multiline-multiprop"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": ["warn", "as-needed"],
    "unused-imports/no-unused-imports": "warn",
    "object-curly-spacing": "warn",
    "array-bracket-spacing": "warn",
    "react-hooks/exhaustive-deps": "warn",
  }
}
